* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  left: 100px;
    height: 100vh;
  font-family: "Goldman", cursive;
  background-color: rgb(0, 0, 0);
  height: 1000px;
}
nav {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: relative;
  display: block;
  overflow: hidden;
}
nav ul {
  display:flex;
  align-items:center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
  align-items: right;
  
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
h1{
  color: white;
  text-align: center;
  font-size: 25px;
}
h2{
  color: aliceblue;
  text-align: center;
  font-size: 30px;
}
li {
color: white;

}
p{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 28px;
}
title{
  font-weight: bold;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#00a8c7;
  color: white;
  text-align: center;
  height: 5%;
}
  img {
    width: 200px;
    height: 200px;
    float: left;
   }