h1{
    font-size: 24px;
    color: rgb(255, 196, 0);
    font-weight: bold;
    font-style: italic;
}
h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p{
    color: #2e2626 ;
    font-weight: bold;
    border: 2px solid rgb(0, 38, 255);
    border-radius: 12px;
    padding: 5px;
}
a{
    color: #8A2BE2 ; 
    text-decoration: none;
}
header{
  min-height: 33vh;
  background-image: url("img/darksouls3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
header > p{
    background-color: #ffffff96;
}
img{
    height: 50vw;
}