body{
background-image: url("https://c4.wallpaperflare.com/wallpaper/568/232/7/texture-simple-dark-simple-background-wallpaper-preview.jpg");
background-repeat: no-repeat;
background-size: cover;
}

p{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    color: rgb(63, 128, 225);
}
h1{
    color: rgb(255, 255, 255)    ;
}
h5 {
    color: rgb(255, 255, 255);
}
h6{
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}